* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.keys {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgb(197, 197, 197);
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.key {
  height: 80px;
  width: 80px;
  background-image: linear-gradient(
    to top,
    #aaaaaa,
    #b7b7b7,
    #c3c3c3,
    #d0d0d0,
    #dddddd
  );
  border: 1px solid #999;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: #333;
  transition: all 0.07s ease;
}

.sound {
  font-size: 0.7rem;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.playing {
  transform: scale(1.1);
  border-color: #ff7b00;
  box-shadow: 0 0 1rem #ff7b00;
}
